<%= form_for(@nfl_game) do |f| %>
  <% if @nfl_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nfl_game.errors.count, "error") %> prohibited this nfl_game from being saved:</h2>

      <ul>
      <% @nfl_game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :week %><br />
    <%= f.number_field :week %>
  </div>
  <div class="field">
    <%= f.label :home_team_id %><br />
    <%= f.number_field :home_team_id %>
  </div>
  <div class="field">
    <%= f.label :away_team_id %><br />
    <%= f.number_field :away_team_id %>
  </div>
  <div class="field">
    <%= f.label :winner_id %><br />
    <%= f.number_field :winner_id %>
  </div>
  <div class="field">
    <%= f.label :home_points %><br />
    <%= f.number_field :home_points %>
  </div>
  <div class="field">
    <%= f.label :away_points %><br />
    <%= f.number_field :away_points %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
