<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @nfl_game.year %>
</p>

<p>
  <b>Week:</b>
  <%= @nfl_game.week %>
</p>

<p>
  <b>Home team:</b>
  <%= @nfl_game.home_team_id %>
</p>

<p>
  <b>Away team:</b>
  <%= @nfl_game.away_team_id %>
</p>

<p>
  <b>Winner:</b>
  <%= @nfl_game.winner_id %>
</p>

<p>
  <b>Home points:</b>
  <%= @nfl_game.home_points %>
</p>

<p>
  <b>Away points:</b>
  <%= @nfl_game.away_points %>
</p>


<%= link_to 'Edit', edit_nfl_game_path(@nfl_game) %> |
<%= link_to 'Back', nfl_games_path %>
