<h1>Owners</h1>

<table>
<% @owners.each do |owner| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

    <td class="list_name">
      <dl>
        <dt><%= owner.division.league.name %></dt>
        <dt><%= owner.division.name %></dt>
        <dt><%= owner.division.year %></dt>
        <dt><%= owner.user_id %></dt>
        <dt><%= owner.team_name %></dt>
        <dt><%= owner.symbol %></dt>
      </dl>
    </td>

    <td class="list_actions">

      <%= link_to 'Show', owner %>,<br />
      <%= link_to 'Edit', edit_owner_path(owner) %><br />
    </td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Owner', new_owner_path %>
