<h1>Listing drafts</h1>

<table>
  <tr>
    <th>Year</th>
    <th>Owner</th>
    <th>Player</th>
    <th>Round</th>
    <th>Pick</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drafts.each do |draft| %>
  <tr>
    <td><%= draft.year %></td>
    <td><%= draft.owner.user.full_name %></td>
    <td><%= draft.player.full_name %></td>
    <td><%= draft.round %></td>
    <td><%= draft.pick %></td>
    <td><%= link_to 'Show', draft %></td>
    <td><%= link_to 'Edit', edit_draft_path(draft) %></td>
    <td><%= link_to 'Destroy', draft, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Draft', new_draft_path %>
