<p id="notice"><%= notice %></p>

<p>
  <b>League:</b>
  <%= @division.league_id %>
</p>

<p>
  <b>Name:</b>
  <%= @division.name %>
</p>

<p>
  <b>Year:</b>
  <%= @division.year %>
</p>


<%= link_to 'Edit', edit_division_path(@division) %> |
<%= link_to 'Back', divisions_path %>
