<!DOCTYPE html>
<html>
<head>
  <title>Football</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id="banner">
    <%= image_tag("nfl.jpg") %>
    <%= @page_title || "Fantasy Football" %>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <li><a href="http://games.espn.go.com/frontpage/football">ESPN Fantasy Football</a></li>
        <li><%= link_to 'Home', :controller => 'admin', :action => 'index' %></li>
        <li><%= link_to 'Main Page', :controller => 'main', :action => 'index' %></li>
        <li><%= link_to 'View Leagues', :controller => 'leagues', :action => 'index' %></li>
        <li><%= link_to 'View Divisions', :controller => 'divisions', :action => 'index' %></li>
        <li><%= link_to 'View Users', :controller => 'users', :action => 'index' %></li>
        <li><%= link_to 'View Owners', :controller => 'owners', :action => 'index' %></li>
        <li><%= link_to 'View Teams', :controller => 'teams', :action => 'index' %></li>
        <li><%= link_to 'View League Games', :controller => 'games', :action => 'index' %></li>
        <li><%= link_to 'View NFL Games', :controller => 'nfl_games', :action => 'index' %></li>
        <li><%= link_to 'View Players', :controller => 'players', :action => 'index' %></li>
        <li><%= link_to 'View Draft Info', :controller => 'drafts', :action => 'index' %></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
